<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Evento Running</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f8f9fa;">
        <div class="border p-4 rounded shadow bg-white" style="max-width: 600px; width: 100%;">
            <h1 class="text-center mb-4">Registro de Evento Running</h1>
            <form th:action="@{/submit}" method="post" th:object="${runner}"  class="needs-validation">
                <div class="mb-3">
                    <label for="nombres" class="form-label">Nombres:</label>
                    <input type="text" class="form-control" id="nombres" name="nombres" th:field="*{nombres}" onkeypress="return soloLetras(event)" required />
                </div>
                <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos:</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" th:field="*{apellidos}" onkeypress="return soloLetras(event)" required />
                </div>
                   <div class="mb-3">
                        <label for="dni" class="form-label">DNI:</label>
                        <input type="text" class="form-control" id="dni" name="dni" onkeypress="return soloNumeros(event)" th:field="*{dni}" 
                               minlength="8" maxlength="8" pattern="\d{8}" 
                               title="El DNI debe ser un número de 8 dígitos" required>
                        <div class="invalid-feedback">
                            Por favor, ingrese un DNI válido de 8 dígitos.
                        </div>
                    </div>
                <div class="mb-3">
                    <label for="residencia" class="form-label">Lugar de Residencia:</label>
                    <input type="text" class="form-control" id="residencia" name="residencia" th:field="*{residencia}" required />
                </div>
                <div class="mb-3">
                    <label for="contactoEmergencia" class="form-label">Número de Contacto (Emergencia):</label>
                    <input type="text" class="form-control" id="contactoEmergencia" name="contactoEmergencia" onkeypress="return soloNumeros(event)" th:field="*{contactoEmergencia}" required />
                </div>
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono Personal:</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" th:field="*{telefono}" pattern="[0-9]{9}" onkeypress="return soloNumeros(event)" required />
                </div>
                <div class="mb-3">
                    <label for="tipoSangre" class="form-label">Tipo de Sangre:</label>
                    <input type="text" class="form-control" id="tipoSangre" name="tipoSangre" th:field="*{tipoSangre}" onkeypress="return soloLetras(event)" required />
                </div>
                <div class="mb-3">
                    <label for="alergias" class="form-label">Alergias:</label>
                    <input type="text" class="form-control" id="alergias" name="alergias" th:field="*{alergias}" onkeypress="return soloLetras(event)" />
                </div>
                <div class="mb-3">
                    <label for="kilometros" class="form-label">Número de Kilómetros:</label>
                    <input type="number" class="form-control" id="kilometros" name="kilometros" th:field="*{kilometros}" onkeypress="return soloNumeros(event)" required />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary w-50" type="submit">Registrar</button>
                </div>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
        <script type="text/javascript">
        function soloNumeros(e) {
        var charCode = e.keyCode || e.which;
        var charStr = String.fromCharCode(charCode);
        // Permitir solo números y backspace (8)
        if (/^\d+$/.test(charStr) || charCode === 8) {
        return true;
        }
        alert("Solo se permiten números.");
        return false;
        }
    </script>
    <script type="text/javascript">
        function soloLetras(e) {
        var charCode = e.keyCode || e.which;
        var charStr = String.fromCharCode(charCode);
        // Permitir solo letras y ciertos caracteres como espacio (32) y backspace (8)
        if (/^[a-zA-Z\s]+$/.test(charStr) || charCode === 8 || charCode === 32) {
        return true;
        }
        alert("Solo se permiten letras.");
        return false;
        }
    </script>
</html>
